.shows-list-container {
    margin: 20px;
}
  
.show-list {
    list-style: none;
    display: flex;
    overflow-x: auto;  
}
  
.show-item {
    margin-right: 20px;
}
  
.rectangle-icon {
    width: 70px;
    height: 30px;
    background-color: #3498db; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    font-weight: bold;
    margin-right: 10px; 
}
  